<p>Input product information:</p>
<form action="CreateNewProductSubmit" method="post">
    
    <input name="Name" value="Name"/>
    <input name="Description" value="Description"/>
    <input name="Price" value="0.00" type="number"/>
    <input name="Category" value="Category"/>
    <input type="submit"/>
</form>