@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a href="Home/DisplayProducts">Menu</a></h1>
    
</div>

<a href="Home/ShowCurrentTime">Show the current time</a>