@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>Click Below!</p>
    @{
        foreach (var currUser in Program.userList)
        {
            <a href="home/EditUser?id=@currUser.Id"> Edit user @(currUser.FirstName+" "+currUser.LastName)</a><br/>
        }
    }

  </div>