@model List<AnimalResponse>

if(Model != null)
{
    @foreach(var animal in Model)
    {
        <h1>@animal.name</h1>
        <p>@animal.characteristics.habitat</p>

    }
}
else
{
    <p>Sorry, something went wrong.</p>
    <p>ViewBag.Execption</p>
}