@model UserProfile

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>@Model.FirstName</p>
            <p>@Model.LastName</p>
            <p>@Model.Bio</p>
        </div>
        <div class="col-6">
            <img src="@Model.ProfileImage" alt="Cat Dune" width="200">
        </div>
    </div>
</div>